.nav-link
{
	color: aliceblue !important;
	font-size: large !important;
	font-weight: 700;
	padding-right: 20px !important;
	padding-left: 20px !important;
}
.nav-link:hover
{
	background-color: rgb(146, 127, 255);
	border-radius: 15px;
}
.active
{
	color: rgb(247, 0, 255) !important;
}

.jumbotron
{
	width: 55%;
	border-radius: 25px !important;
	margin: auto;
	margin-top: 50px;
	background-color: rgb(224, 224, 224) !important;
}

.dropdown-menu-center 
{
	left: 50% !important;
	right: auto !important;
	text-align: center !important;
	transform: translate(-50%, 0) !important;
  }